<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Contact Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group" >
          <label for="customerName">Name :</label>
          <input id="customerName" [(ngModel)] ="contactDetails.Name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="name" >
          <label for="mobileNumber">Mobile Number :</label>
          <input id="mobileNumber" [(ngModel)] ="contactDetails.PhoneNumber" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="mobile Number" >
          <label for="email">Email :</label>
          <input id="email" [(ngModel)] ="contactDetails.Email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="email" >
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"  [disabled]="buttonDisabled"  (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  <div class="middle">
  <button class="btn btn-primary" (click)="open(content)">Contact us</button>
</div>