.testimonialsDiv {
    height:200px; 
    background-color: rgb(67, 195, 218); 
    background-image:url(../../assets/background-lines.png);
    text-align: center;
    vertical-align:top;
    margin-top: 25px;
    margin-left: 1px;
    margin-right: 1px;
    font-family:'Times New Roman', Times, serif;
    color: rgba(87, 25, 0, 0.856);
    opacity: 1
 }
 .pstyle{
    font-size: 16px; margin-top: -15px; font-style: italic;
 }